*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 999;
    align-items: center;
    padding: 10px 200px ;
}
.logo {
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 20px;
    color: #3a6cf4;
    
}
.navigation a:hover {
    color: #991cfc;
}
button{
    border: 2px solid red;
    padding: 5px 14px;
    border-radius: 10px;
    text-align: center;
    background-color:white;
    color: black;
    transition:0.7s ease;
    cursor: pointer;
    font-weight: 700;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
button:hover{
    transform: scale(1.06);
    background-color:#3a6cf4;
    animation-duration: 0s;
    border-color: black;
}

/* Main */


/* Form-section */
.form-section{
    padding: 100px 200px;
}
input , select{
            width:250px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #3a6cf4;
            border-radius: 4px;
            margin: 15px 0 0 0;
        }
        .form-contact{
            margin-top: 15px;
        }
        .form-contact label {
            font-size: 1.2em;
            font-weight: 700;
        }
        
        .main-div {
            display: flex;
            padding: 0 50px;
            gap: 200px;
            
        }
        .submit-button{
            background-color: #3a6cf4;
            transition:0.7s ease;

        }
        .submit-button:hover{
            background-color: #0a49f6;
            transform:scale(1.1);
        }
        .legend{
            font-size: 1.4em;
            font-weight: 700;
            color: #0a49f6;
        }

/* Content-Section */
.content-section {
    background-color: #1b1b1b;
    padding: 100px 200px;
}
.content-section h1{
    margin-bottom: 100px;
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size:2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}
.sections {
    margin: 100px 0;
}
.contentA,
.contentM,
.contentD,
.contentF{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card { 
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
    border-radius:10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);
}
.card .icon { 
    width: 300px;
    height: 300px;
    display: flex;
    overflow: hidden;
    justify-content:center;
}
.info {
    text-align: center;
}
.card .info h3{
    color: #3a6cf4;
    font-size:1.2em;
    font-weight: 700;
    margin:10px;
    text-transform: capitalize;
}
.card .info p {
    font-size:1em;
    font-weight: 600;
    
}

/* Footer */
.footer{
    background-color:#000016;
    color: white;
    width: 100%;
    padding:1em 10em;
    display:flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0;
    
}
.footer-title{
    font-size:1.3em;
    color: #3a6cf4;
    font-weight: 600;
    
}
.footer .social-icons a{
    font-size: 1.3em;
    padding-right: 8px;
}

